html, body, div,
h1, h2, h3, p, 
a, ol, ul, li,
fieldset, form, 
label, legend, section{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline-style: none;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background: rgba(176, 224, 230, 0.5);
  overflow-y: scroll;
  height: 100%;
  border: 1px solid black;
}

ol, ul {
  list-style: none;
}

* {
  font-family: 'Roboto', serif;
  box-sizing: border-box;
}

form {
  background-color: rgb(176, 224, 230);
}


legend, h1, button {
  font-weight: bold;
  font-size: 24;
}


legend {
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white;
  position: sticky;
}

.html {
  overflow-y: scroll;
}
fieldset {
  text-align: center;
}
.app-logo {
  background-color:  rgb(41, 142, 234);
  border: 1px solid black;
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  display: block;
  margin-left:  0;
  color: white;
  width: 100%;
}

.left-icon {
  float: left;
  margin: 5px;
  vertical-align: middle;
}

.right-icon {
  float: right;
  margin: 5px ;
  vertical-align: middle;
}

.top-navigation {
  background-color: rgb(179,205,224);
  border: 1px solid black;
  overflow: hidden;
  color: white;
}

.top-navigation a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bold;
    padding:  10px;
}

*/
.top-navigation a:focus,
.top-navigation span:focus{
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

 .top-navigation a:active,
 .top-navigation span:active{
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

 .top-navigation a:hover,
 .top-navigation span:hover {
    background-color: #ddd;
    color: black;
}

.top-navigation .icon {
  display: none;
}

.user-demo {
  text-align: right;
}

.user-role,
.user-info {
    vertical-align: middle;
    background-color: rgb(176, 224, 230);
    font-size: 22px;
    text-align: center;
}

.user-role p {
  text-align: left;
}

button:focus,
input[type="checkbox"]:focus {
  background-color: rgb(76,175,80);
  color: rgb(255,255,255);
}

button:active{
  background-color: green;
  color: rgb(255,255,255);
}

input[type="checkbox"] {
  transform: scale(1.5);
  border: 1px solid black;
}

input[type="text"], 
select {
  width: 60%;
  min-width: 120px;
  font: 1em 'Arial', sans-serif;
  padding: 0 6px;
  margin-top: 0.4em;
  border: 1px solid black;
  background-color: white;
}



button {
  border: 1px solid white;
  border-radius: 2px;
  height: 36px;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
              0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
              0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  line-height: 1.3em;
  background-color: rgb(217, 217, 217);
  margin: 5px;
  padding:  5px;
}

.sec-registered-today-list {
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.map-canvas {
  position: fixed;
  width: 100%;
  height: 70%;
  bottom: 0;
  margin: 0 auto;
  border: 2px solid black;
  text-align: center;
  z-index: 1;
}


.search-sections label,
.user-info label{
  vertical-align: middle;
  margin-top: 0.4em;
}

.frm {
  text-align: left;
  background-color: rgb(176, 224, 230);
  max-height: 700px;
  overflow-y: scroll;
}

.frm ul{
  overflow-y: scroll;
}

.frm li {
  border-bottom: 1px solid white;
  padding: 5px;
  font-size: 18px;
  margin-left: 5px;
  text-align: left;
}

.frm a {
  margin: 5px;
}

.frm a:focus,
.frm a:hover {
   background-color: #4caf50;
   color: #fff;
}

input, select {
  width: 200px;
  font: 1em Arial, sans-serif;
  padding: 3px 6px;
  border: 1px solid #ccc;
  text-align: left;
}
ul li {
  text-align: left;
}

.hidden {
  display: none;
}